
<h2>Users</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">FullName</th>
    <th scope="col">Email</th>
    <th scope="col">PhoneNumber</th>
    <th scope="col">Role</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of userData; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ user.fullName || 'N/A'}}</td>
    <td>{{ user.email || 'N/A'}}</td>
    <td>{{ user.phoneNumber || 'N/A'}}</td>
    <td>{{ user.role || 'N/A'}}</td>
  </tr>
  </tbody>
</table>


<div>
  <button class="btn btn-info">Add User</button>
</div>
